header{
    position: absolute;
    z-index: 9999;
    width: 100%;
}
/*****************
hero section
*****************/
.hero{
    width: 100%;
}
.hero .carousel-item img{
    height: 668px;
    width: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.hero .carousel-item::before{
    content: '';
    background-color: #040f28;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    opacity: .8;
}
.hero .carousel-container{
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    position: absolute;
}